@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin navButton() {
  display: flex;

  > button {
    color: $btn-background-color;
    background-color: $body-bg;
    border-radius: 15px;
    border-color: $btn-background-color;
    width: 100px;
    margin: auto 10px;

    &:active {
      color: white;
      background-color: $btn-background-color;
    }
  }
}
